.h1-yellow {
    color: #0c0101;
    vertical-align: middle;
    padding: 30px;

}
.h1-green {
    color: #0c0101;
    vertical-align: middle;
    padding: 30px;

}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 4px 2px;
    cursor: pointer;
  }
  .Child-button {
      border: thick;
      font-family: Cambria;
      font-size: large;
      font-weight: 500;
  }

.main-div {
    width: 100%; height: 600px; align-items: center;
    
}  
.left-div {
    width: 40%; height: 300px; float: left;
    // text-align: center;
    text-align: center;
    margin: 50px;
    background-color: rgb(175, 214, 102);
} 
.right-div {
    width: 40%; height: 300px; float: right;
    text-align: center;
    margin: 50px;
    background-color: rgb(133, 100, 177);
}

.center-div {
    width: 80%; height: 300px; float: center;
    text-align: center;
    align-items: center;
    background-color: rgb(114, 180, 114);
    padding: 50px;

}

