/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: fantasy;
    font-size: larger;
    color: #be1e1e;
    margin: auto;
    text-align: center;
}
.center {
    text-align: center;
    // border: 3px solid green;
}

.div {
    width: 100%;
    margin: auto;
    color-adjust: #111111;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
     transition: height 2s;
}

div:hover {
    // -webkit-transform: rotate(90deg);
    // transform: rotate(90deg); // for rotation of div
    height: 110%;
    text-transform: uppercase;
    background-color: rgb(196, 253, 174);
}

header{
    width: 100%;
    height: 20%;
    font-size: 30px;
    background-color: rgb(105, 132, 172);
    color-adjust: #0fd499;
    position: absolute;
    text-align: center;
    font-weight: bold;
    caret-color: saturation($color:  #555555);

}
.header h1 {
    width: 100%;
    height: 20%;
    font-size: 30px;
    background-color: rgb(105, 132, 172);
    color-adjust: #0fd499;
    position: absolute;
    text-align: center;
    font-weight: bold;
    caret-color: saturation($color:  #555555);

}


.s {
    width: 100%;
    height: 60%;
    background-color: rgb(105, 132, 172);
    caret-color: saturation($color:  #555555);
    border-color: #111111;
    box-shadow: hsl;
    box-sizing: unquote($string: "");
}

footer {
    width: 100%; 
    bottom: 0px; 
    height: 20%;
    background-color: rgb(105, 132, 172); 
    color: rgb(13, 89, 160); 
    position: absolute; 
    text-align:center; 
    font-size:30px; 
    font-weight:bold;
    
}

.header h1:hover {
    background-color: #ddd;
    color: black;
}

.header h1.active {
    background-color: dodgerblue;
    color: white;
}

.button {
    background-color: rgb(13, 89, 160);
    border: none;
    color: rgb(10, 18, 26);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    cursor: pointer;
}

