h1 {
    color: #bbbbbb;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 4px 2px;
    cursor: pointer;
  }
  .Child-button {
      border: thick;
      font-family: Cambria;
      font-size: large;
      font-weight: 500;
  }

