.h1-yellow {
    color: #ffff00;
}
.hi-green {
    color: #0e6d0a;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 4px 2px;
    cursor: pointer;
  }
  .Child-button {
      border: thick;
      font-family: Cambria;
      font-size: large;
      font-weight: 500;
  }

.main-div {
    width: 100%; height: 600px; align-items: center;
    
}  
.left-div {
    width: 40%; height: 300px; float: left;
    text-align: center;
    margin: 50px;
} 
.right-div {
    width: 40%; height: 300px; float: right;
    text-align: center;
    margin: 50px;
}

